body{
    margin: 0px;
    background-color: rgb(183, 191, 253);
}
header{
    margin: 0px;
    padding: 0px;
}
.title{
    background-image: url(./Assets/img/Title_background.png);
    height: 100vh;
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr;
}
.title>.cloud1{
    grid-column: 3;
    grid-row: 1;
}
.title>.cloud2{
    grid-column: 1;
    grid-row: 3;
}
.title>h1{
    grid-column: 2;
    grid-row: 2;
}
.title>.mountain{
    height: 200px;
    grid-column: 2;
    grid-row: 4;
}